.headerDetails header {
  background-color: #fff;
  color: #2b2b2b;
  box-shadow: none;
  display: flex;
  align-items: center;
}

.headerDetails header .doctorWrp {
  font-size: 20px;
}

.capaturedetails{
  padding: 0 !important;
}


.protectedImg {
  max-width: 350px;
  width: 60%;
  margin: 0 auto;
}

.protectedImg img {
  width: 70%;
  height: 70%;
  margin: 0 auto;
  background-color: transparent;
  box-shadow: none;
  object-fit: cover;
}

.imgDetail{
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.capatureDetails header{
  background-color: transparent;
}

@media only screen and (max-width: 430px) {
  .protectedImg {
    max-width: 380px;
    width: 100%;
}
}